.gordito {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #cd853f;
}
.mdl-layout__header {
  background-color: #cd853f;
}
