//This is vars document

/* Gray types */

darkenGray = #A6A6A6
secoundDarkenGray = #DCDCDC
thirtDarkenGray = #E8E8E8
fourDarkenGray = #EBEBEB

/* palette */
/*
principalColor
triadColor1
triadColor2
complementColor
*/
