//This is vars document

/* Gray types */

darkenGray = #A6A6A6
secoundDarkenGray = #DCDCDC
thirtDarkenGray = #E8E8E8
fourDarkenGray = #EBEBEB

/* Background Colors */

darkBackgroundColor = #343434
brightBackgroundColor = #fefefe


/* Fonts to use */

mainFontFamily = 'fertigo_proregular'

//Font colors
brightFontColor = #efefef
darkFontColor = #040404

/* palette: general */

gralBrownColor = #5F5448
gralGreenColor = #A8C545
gralLightBrownColor = #DFD3B6
gralRedColor = #FC6E58
gralBlueColor = #0092B2

/* palette: #A8C545 student side */

studentPrincipalColor = gralGreenColor
studentTriadColor1 = #67B33F
studentTriadColor2 = #CEC648
studentComplementColor = #943482

/* palette: #FC6E58 professor side */

professorPrincipalColor = gralRedColor
professorTriadColor1 = #FCAB58
professorTriadColor2 = #D44A89
professorComplementColor = #41BA66

/* darken professor side */
