.mdl-button--big
    background-color rgba(4,4,4,.8)
    width 100%
    height 100%
    color brightFontColor
    text-transform capitalize
    font-family mainFontFamily
    font-size 1.5rem
    border-radius 0
