{% extends "base_header_footer.html" %}

{% block title %}Inicia sesión{% endblock  %}

{% block content %}
    <main class="main-login-container">
        <section data-section="professor" class="main-login-container__section  js-main-login-container__section">
                <button data-btn="professor" class="mdl-button  mdl-js-button  mdl-js-ripple-effect  mdl-button--big" type="button" name="button">Profesor</button>
        </section>
        <section data-section="student" class="main-login-container__section  js-main-login-container__section">
                <button data-btn="student" class="mdl-button  mdl-js-button  mdl-js-ripple-effect  mdl-button--big" type="button" name="button">Alumno</button>
        </section>
    </main>
{% endblock content %}
