{% extends "base_header_footer.html" %}

{% block title %}Inicia sesión{% endblock  %}

{% block content %}
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <section class="mdl-cell mdl-cell--6-col">
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Profesor</button>
                </section>
                <section class="mdl-cell mdl-cell--6-col">
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Alumno</button>
                </section>
            </div>
        </div>
    </main>
{% endblock content %}
