{% extends "base_header_footer.html" %}

{% block title %}Inicia sesión{% endblock  %}

{% block content %}
    <main>
        <section class="professor-section">
            <div class="professor-section__button-container">
                <button class="mdl-button  mdl-js-button  mdl-button--raised  mdl-js-ripple-effect  mdl-button--accent" type="button" name="button">Profesor</button>
            </div>
        </section>
        <section class="student-section">
            <div class="student-section__button-container">
                <button class="mdl-button  mdl-js-button  mdl-button--raised  mdl-js-ripple-effect  mdl-button--accent" type="button" name="button">Alumno</button>
            </div>
        </section>
    </main>
{% endblock content %}
