{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form class="header__language-container" action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  <input name="next" type="hidden" value="{{ redirect_to }}" />
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
  <ul class="header__language-container__list">
    {% for language in languages %}
    <li class="header__language-container__list__item">
      <button type="submit" class="header__language-container__list__item__btn" name="language" value="{{ language.code }}"><span class="header__language-container__list__item__btn__flag-container  flag-icon  flag-icon-{{ language.code }}"></span>{{ language.name_local }}</button>
    </li>
    {% endfor %}
  </ul>
</form>

{% endblock content %}


<!--
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>
-->
