{% extends "base.html" %}

{% load staticfiles %}
{% block base_header %}
<header class="header">
    <h1 class="header__name-project">Tifis Project</h1>
</header>
{% endblock base_header %}


{% block content %}{% endblock content %}




{% block base_footer %}
<footer class="footer">
    <div class="footer__section">
        <h3 class="footer__section__title">Enlaces</h3>
        <ul class="footer__section__list">
            <li class="footer__section__item"><a href="#" class="footer__section__item__link">Acerca de esta app</a></li>
            <li class="footer__section__item"><a href="#" class="footer__section__item__link">Aviso de privacidad</a></li>
            <li class="footer__section__item"><a href="#" class="footer__section__item__link">Manual de usuario</a></li>
        </ul>
    </div>
</footer>
{% endblock base_footer %}
