li(class="signature-section__list__item", data-groupmodule-section="signature_item")
  a(class="signature-section__list__item__link", href="#")
    span(class="signature-section__list__item__link__name", data-groupmodule-span="name")
    span(class="signature-section__list__item__link__career", data-groupmodule-span="career")
