.mdl-textfield
    &--block
        display block
        width 100%
    &__label
        &--professor
            color brightFontColor
            &:after
                background-color professorComplementColor
        &--student
            color brightFontColor
            &:after
                background-color studentComplementColor
        &--login
            color brightFontColor
        &--validate-error
            &:after
                background-color red
    &__input
        &--bright
            color brightFontColor
