.header
    //box-shadow 0 8px 16px rgba(0, 0, 0, 0.25)
    position relative
    z-index 1
    width 100%
    height 3.75rem
    overflow hidden
    &__name-project
        width 100%
        text-align center
        font-family mainFontFamily
        margin 0
        line-height 3.75rem
        padding 0
        text-decoration none
        z-index 2
        font-size 1.8rem
        color brightFontColor
        position relative
    &--background
        background-image url('/static/general/assets/background_images/cu.jpg')
        background-position center
        background-size cover
        &:before
            background-color rgba(4,4,4,1) //darkBackgroundColor
            content ""
            display block
            position absolute
            top 0
            left 0
            width 100%
            height 100%

.main-login-container
    width 100%
    background-color red
    height 44vh
    display flex
    &__section
        width 50%
        height 100%
        background-image url('/static/general/assets/background_images/spring_blur.jpg')
        background-position center
        background-size cover
        &:nth-child(odd)
            background-image url('/static/general/assets/background_images/fall_blur.jpg')

.footer
    background-color darkBackgroundColor
    color brightFontColor
    &__section
        &__title
            font-size 1.6rem
            font-family mainFontFamily
            margin 0 auto
            width 95%
            padding-top 1rem
            padding-left .5rem
        &__item
            &__link
                font-size 1rem
                text-decoration none
