

//student styles
.u--student-color
    background-color studentPrincipalColor



//professor styles
.u--professor-color
    background-color professorPrincipalColor

//general styles
.u--max-width
    width 100%
.u--min-width
    width 0
    display none
